{% extends "base.html" %}
{% load static i18n compress %}

{% block css %}
    {% compress css %}
    <link type="text/css" href="{% static 'bundle.css' %}">
    {% endcompress %}
{% endblock %}

{% block content %}
<noscript>
    <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div id="app"></div>
{% endblock %}

{% block javascript %}
    {% compress js %}
    <script type="text/javascript" src="{% static 'bundle.js' %}"></script>
    {% endcompress %}
{% endblock %}