{% extends "base.html" %}
{% load static i18n %}

{% block content %}
<header class="bg-primary text-white" id="home1">
    <div class="container text-center">
        <h1 v-text="intro"></h1>
        <a href="{% url 'core:qa-app' %}">
            <button class="btn btn-outline-light btn-lg">
                {% if request.user.is_authenticated %}
                    Ask a question
                {% else %}
                    Get started
                {% endif %}
            </button>
        </a>
    </div>
   
</header>
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="{% static 'js/home.js' %}"></script>

{% endblock %}


